In [3]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/citis.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Haines Junction,CA,2021-04-03 12:35:12,60.7522,-137.5108,-0.40,85,100,1.72
1,1,Kavieng,PG,2021-04-03 12:35:12,-2.5744,150.7967,82.62,76,39,6.98
2,2,Bluff,NZ,2021-04-03 12:35:12,-46.6000,168.3333,57.99,50,83,11.99
3,3,Pevek,RU,2021-04-03 12:35:13,69.7008,170.3133,-24.14,97,37,2.30
4,4,Ostrovnoy,RU,2021-04-03 12:35:13,68.0531,39.5131,28.26,88,33,8.97

In [5]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=humidity, 
                                 dissipating=False,
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=clouds,
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=wind,
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Kavieng,PG,2021-04-03 12:35:12,-2.5744,150.7967,82.62,76,39,6.98
6,6,Harper,LR,2021-04-03 12:35:13,4.3750,-7.7169,85.53,66,86,6.64
8,8,Hobyo,SO,2021-04-03 12:35:14,5.3505,48.5268,86.52,61,12,13.29
13,13,Arraial Do Cabo,BR,2021-04-03 12:35:15,-22.9661,-42.0278,78.80,78,0,6.91
14,14,Vaini,TO,2021-04-03 12:35:15,-21.2000,-175.2000,77.00,94,75,3.44
15,15,Owando,CG,2021-04-03 12:35:15,-0.4819,15.8999,81.86,64,88,6.98
20,20,Ilhabela,BR,2021-04-03 12:35:17,-23.7781,-45.3581,77.72,65,4,2.46
21,21,Conde,BR,2021-04-03 12:35:17,-7.2597,-34.9075,84.20,84,75,10.36
22,22,Roebourne,AU,2021-04-03 12:35:17,-20.7833,117.1333,85.03,54,55,4.16
25,25,Acapulco,MX,2021-04-03 12:32:26,16.8634,-99.8901,77.41,57,0,5.53

In [13]:
# Check if there are null values in the dataframe
preferred_cities_df.count()

City_ID       187
City          187
Country       184
Date          187
Lat           187
Lng           187
Max Temp      187
Humidity      187
Cloudiness    187
Wind Speed    187
dtype: int64

In [14]:
# Remove the null values from the dataframe
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.count()

City_ID       184
City          184
Country       184
Date          184
Lat           184
Lng           184
Max Temp      184
Humidity      184
Cloudiness    184
Wind Speed    184
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, 
# country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1           Kavieng      PG     82.62  -2.5744  150.7967
6            Harper      LR     85.53   4.3750   -7.7169
8             Hobyo      SO     86.52   5.3505   48.5268
13  Arraial Do Cabo      BR     78.80 -22.9661  -42.0278
14            Vaini      TO     77.00 -21.2000 -175.2000
15           Owando      CG     81.86  -0.4819   15.8999
20         Ilhabela      BR     77.72 -23.7781  -45.3581
21            Conde      BR     84.20  -7.2597  -34.9075
22        Roebourne      AU     85.03 -20.7833  117.1333
25         Acapulco      MX     77.41  16.8634  -99.8901

### Retrieve Hotels from a Nearby Search

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [18]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Kavieng,PG,82.62,-2.5744,150.7967,Nusa Island Retreat
6,Harper,LR,85.53,4.3750,-7.7169,Screensaver
8,Hobyo,SO,86.52,5.3505,48.5268,Halane Hotel and Restaurent
13,Arraial Do Cabo,BR,78.80,-22.9661,-42.0278,Pousada Porto Praia
14,Vaini,TO,77.00,-21.2000,-175.2000,Keleti Beach Resort
15,Owando,CG,81.86,-0.4819,15.8999,Exaunel Hotel Owando
20,Ilhabela,BR,77.72,-23.7781,-45.3581,Ilha Flat Hotel
21,Conde,BR,84.20,-7.2597,-34.9075,Pousada Beija Flor
22,Roebourne,AU,85.03,-20.7833,117.1333,Harding River Caravan Park
25,Acapulco,MX,77.41,16.8634,-99.8901,HS Hotsson Smart Acapulco

In [20]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=max_temp, 
                                 dissipating=False,
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=max_temp,
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [23]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [24]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=max_temp,
                                 dissipating=False,
                                 max_intensity=300, 
                                 point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))