## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Puerto Ayora,EC,82.40,light rain,-0.7393,-90.3518,Finch Bay Galapagos Hotel
1,6,Sao Jose Da Coroa Grande,BR,79.23,few clouds,-8.8978,-35.1478,Crôa Mares Hotel
2,7,Sibolga,ID,75.24,overcast clouds,1.7427,98.7792,Hotel Syariah CN Darussalam
3,11,Lorengau,PG,80.80,overcast clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
4,17,Rikitea,PF,75.87,light rain,-23.1203,-134.9692,Pension Maro'i

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt><strong>City Name</strong></dt>
<dt>{City}</dt>
<dt><strong>Country Code</strong></dt>
<dt>{Country}</dt>
<dt><strong>Current Weather</strong></dt>
<dt>{Current Description} and {Max Temp} °F</dt>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 dissipating=False,
                                 max_intensity=300, 
                                 point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Porto Novo") & (vacation_df["Country"] == "BJ")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Porto Novo") & (vacation_df["Country"] == "BJ")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Badou") & (vacation_df["Country"] == "TG")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Banikoara") & (vacation_df["Country"] == "BJ")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Nikki") & (vacation_df["Country"] == "BJ")]

In [6]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
83,304,Porto Novo,BJ,84.2,few clouds,6.4965,2.6036,Tour Eiffel Hotel Benin

In [7]:
vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
83,304,Porto Novo,BJ,84.2,few clouds,6.4965,2.6036,Tour Eiffel Hotel Benin

In [8]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
167,549,Badou,TG,79.29,overcast clouds,7.5833,0.6,Auberge la Victoire

In [9]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
26,104,Banikoara,BJ,83.21,few clouds,11.2985,2.4386,Hôtel de l'UCom CVPC

In [10]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
124,431,Nikki,BJ,82.42,scattered clouds,9.9401,3.2108,Hotel John

In [11]:
# 6. Get the latitude-longitude pairs as tuples from each city  
#    DataFrame using the to_numpy function and list indexing.
def set_tuple(vacation_df_nm):
    tuple_nm = (vacation_df_nm["Lat"].to_numpy()[0], vacation_df_nm["Lng"].to_numpy()[0])
    return tuple_nm
 
# start = (vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0])
# end = (vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]) 
# stop1 = (vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]) 
# stop2 = (vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]) 
# stop3 = (vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0])

In [12]:
# start = (vacation_start["Lat"].item(),vacation_start["Lng"].item())
# start

In [13]:
start = set_tuple(vacation_start)
start

(6.4965, 2.6036)

In [14]:
end = set_tuple(vacation_end)
end

(6.4965, 2.6036)

In [15]:
stop1 = set_tuple(vacation_stop1) 
stop1

(7.5833, 0.6)

In [16]:
stop2 = set_tuple(vacation_stop2)
stop2

(11.2985, 2.4386)

In [17]:
stop3 = set_tuple(vacation_stop3)
stop3

(9.9401, 3.2108)

In [18]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
direction_layer_map = gmaps.directions_layer(start, 
                                             end,
                                             waypoints=[stop1, stop2, stop3],
                                             travel_mode="DRIVING")
fig.add_layer(direction_layer_map)
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,304,Porto Novo,BJ,84.20,few clouds,6.4965,2.6036,Tour Eiffel Hotel Benin
1,549,Badou,TG,79.29,overcast clouds,7.5833,0.6000,Auberge la Victoire
2,104,Banikoara,BJ,83.21,few clouds,11.2985,2.4386,Hôtel de l'UCom CVPC
3,431,Nikki,BJ,82.42,scattered clouds,9.9401,3.2108,Hotel John

In [20]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt>
<dt>{Hotel Name}</dt>
<dt>City Name</dt>
<dt>{City}</dt>
<dt>Country Code</dt>
<dt>{Country}</dt>
<dt>Current Weather</dt>
<dt>{Current Description} and {Max Temp} °F</dt>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=0.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 dissipating=False,
                                 max_intensity=300, 
                                 point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))